body {
    margin: 0px;
    font-size: 32px;
}

header {
    position: absolute;
    width: 100%;
    height: 128px;
    left: 0px;
    top: 0px;
    background: #038C7F;
}

header h1 {
    position: absolute;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 64px;
    color: #FFFFFF;
}


/* vše kromě header */

section {
    padding-left: 10%;
    padding-right: 10%;
    top: 192px;
    position: relative;
}


/* vše kromě header, vnořený do section - pro  */

.todoListatricle {
    background: #027373;
    padding: 16px;
}

.task {
    margin: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: -webkit-fill-available;
    padding: 8px;
    border: none;
    background: #F2E7DC;
    font-size: 24px;
}


/*odsud*/

.done {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0px;
    margin-right: 16px;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: inline-grid;
    place-content: center;
}

.done::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
}

.done:checked::before {
    transform: scale(1);
}

.done:disabled {
    --form-control-color: var(--form-control-disabled);
    color: var(--form-control-disabled);
    cursor: not-allowed;
}


/*sem */

.newTodo {
    margin: 8px;
    width: -webkit-fill-available;
    padding: 8px;
    border: none;
    background: #F2E7DC;
    font-size: 24px;
    margin-bottom: 16px;
    margin-top: 0px;
}

.delete {
    margin: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: none;
    background-color: #F2E7DC;
    position: absolute;
    right: 13%;
}

.deleteAll {
    font-size: 20px;
    border: none;
    border-radius: 8px;
    background-color: #F2E7DC;
    opacity: 0.6;
    transition: 0.3s;
}

.deleteAll:hover {
    font-size: 20px;
    opacity: 1
}

.settings {
    padding: 16px;
    background: #027373;
    text-align: center;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: #F2E7DC;
}

a:hover {
    font-size: 24px;
    color: white;
}
